.env
.env.*
data/
*.session
*.db
*.fifo
*.log
*.zip
*.tar.gz
*.bak_*
__pycache__/
*.py[cod]
venv/
.venv/
netschoolpy/
.DS_Store

# Новый проект
.pytest_cache/
__pycache__/
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
